  <div class="py-5">
    <%= space.sales.count %> <%= t('sale', scope: 'activerecord.models').pluralize(space.sales.count) %> (API)
    <br>
    <%= space.total_prices %> €
  </div>

  <% space.sales.order(created_at: :desc).each do |sale| %>
    <%= link_to space_sale_path(sale, space_id: space.id), data: { turbo: false } do %>
      <div><u><%= t('sale', scope: 'activerecord.models') %> #<%= sale.id %></u></div>
    <% end %>
  <% end %>
