<%= turbo_frame_tag :content do %>
  <% if can? :create, Space %>
    <%= link_to t('spaces.new'), new_space_path, data: { turbo: false }, class: 'text-center bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded' %>
    <br><br>
  <% end %>
  <%#= render 'shared/search_and_filter', search_url: spaces_url %>
  <% if @spaces.count.zero? %>
    <p><%= t('alert.none', class_name: t('space', scope: 'activerecord.models').pluralize.downcase) %></p>
  <% else %>
    <%= turbo_frame_tag :spaces do %>
      <%= render @spaces %>
      <% if @pagy.next %>
        <%= turbo_frame_tag :spaces, loading: :lazy, src: url_for(only_path: false, params: { page: @pagy.next }.merge(request.query_parameters.except(:page))) do %>
          <div class="flex justify-center items-center">
            <div class="w-1/2">
              <%= render partial: 'shared/spinner' %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
