<%= turbo_frame_tag :space do %>
  <%= render "spaces/header", space: %>
  <% if can? :manage, order %>
    <div class="flex">
      <%= link_to t('actions.edit'), edit_space_order_path(order, space_id: space.id), class: "text-blue-400 hover:text-blue-500 hover:underline" %>
       | <%= button_to t('actions.delete'), space_order_path(order, space_id: space.id), method: :delete, form: { data: { turbo_confirm: t('orders.destroy_confirm') } }, class: "text-red-400 hover:text-red-500 hover:underline" %>
    </div>
  <% end %>
  <br><%= t('order', scope: 'activerecord.models') %> #<%= order.id %>
  <br>
  <br><%= t('status', scope: 'activerecord.models') %> : <%= t("orders.status.#{order.status}") %>
  <br>
  <br><%= t('supplier', scope: 'activerecord.attributes.item') %> : <%= order.supplier.name %>
  <br>
  <br><%= t('created_at', scope: 'activerecord.attributes.order') %> : <%= l order.created_at.to_date, format: :fr_long %>
  <br>
  <br><%= t('expected_at', scope: 'activerecord.attributes.order') %> : <%= l order.expected_at.to_date, format: :fr_long %>
  <br>
  <br><%= t('delivered_at', scope: 'activerecord.attributes.order') %> : <%= l order.delivered_at.to_date, format: :fr_long if order.delivered_at%>
  <br>
  <br><%= t('orders.index.product_list') %> :
  <ol>
    <% order.order_items.each_with_index do |order_item, index| %>
      <%= render 'orders/item', index:, item: order_item.item, quantity: order_item.quantity %>
    <% end %>
  </ol>
  <br>
  <br><%= t('price', scope: 'activerecord.attributes.order') %> : <%= order.price %> €
<% end %>
