<%= turbo_frame_tag :space do %>
  <%= render "spaces/header", space: %>
  <% if can? :manage, order %>
    <div class="flex">
      <%= link_to t('actions.edit'), edit_space_order_path(order, space_id: space.id), class: "text-blue-400 hover:text-blue-500 hover:underline" %>
       | <%= button_to t('actions.delete'), space_order_path(order, space_id: space.id), method: :delete, form: { data: { turbo_confirm: t('orders.destroy_confirm') } }, class: "text-red-400 hover:text-red-500 hover:underline" %>
    </div>
  <% end %>
  <br>Purchase Order #<%= order.id %>
  <br>
  <br>Supplier: <%= order.supplier.name %>
  <br>
  <br>Expected date: <%= l order.expected_date.to_date, format: :fr_long %>
  <br>
  <br>Product list:
  <ol>
    <% order.order_items.each do |order_item| %>
      <li>☑️ <%= order_item.item.description %> - quantity: <%= order_item.quantity %></li>
    <% end %>
  </ol>
<% end %>
