<%= turbo_frame_tag :space do %>
  <%= render "spaces/header", space: %>
  <% if can? :manage, item %>
    <div class="flex">
      <%= link_to t('actions.edit'), edit_space_item_path(item, space_id: space.id), class: "text-blue-400 hover:text-blue-500 hover:underline" %>
       | <%= button_to t('actions.delete'), space_item_path(item, space_id: space.id), method: :delete, form: { data: { turbo_confirm: t('items.destroy_confirm') } }, class: "text-red-400 hover:text-red-500 hover:underline" %>
    </div>
  <% end %>
  <%= item.description %>
  <br> <%= t('reference', scope: 'activerecord.attributes.item') %> : <%= item.reference %>
  <br> <%= t('supplier_id', scope: 'activerecord.attributes.item') %> : <%= item.supplier.name %>
  <br> <%= t('price', scope: 'activerecord.attributes.item') %> : <%= item.price %> €
  <br> <%= t('unit', scope: 'activerecord.attributes.item') %> : <%= unit_name(item.unit) %>
  <br> <%= t('actual_quantity', scope: 'activerecord.attributes.item') %> : <%= item.actual_quantity %>
  <br> <%= t('expected_quantity', scope: 'activerecord.attributes.item') %> : <%= item.expected_quantity %>
  <br> <%= t('variance_quantity', scope: 'activerecord.attributes.item') %> : <%= item.variance_quantity %>
<% end %>
