<div class="table-row-group">
  <div class="<%= class_names('table-row', index&.odd? ? 'bg-white' : 'bg-gray-50') %>">
    <div class="table-cell px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">
      <%= index + 1 %>.
    </div>

    <div class="table-cell px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900">
      <%= item.description %>
    </div>

    <div class="table-cell px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900">
      <%= item.reference %>
    </div>

    <div class="table-cell px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900">
      <%= item.supplier.name %>
    </div>

    <div class="table-cell px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900">
      <%= unit_name(item.unit) %>
    </div>

    <div class="table-cell px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900">
      <%= product_item.net_quantity %>
    </div>

    <div class="table-cell px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900">
      <%= product_item.gross_quantity %>
    </div>

    <div class="table-cell px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900">
      <%= product_item.quantity_ratio %>
    </div>
  </div>
</div>
