<%= turbo_frame_tag :space do %>
  <%= render "spaces/header", space: %>

  <div class="w-auto lg:w-1/2 pt-5">
    <%= form_with model: [space, supplier], builder: TailwindBuilder do |form| %>
      <div class="relative my-8 border-b-2 focus-within:border-blue-500">
        <%= form.text_field :name, placeholder: " " %>
        <%= form.label :name %>
      </div>
      <div class="relative my-8 border-b-2 focus-within:border-blue-500">
        <%= form.number_field :expected_day, placeholder: " " %>
        <%= form.label :expected_day %>
      </div>
      <div class="relative my-8 border-b-2 focus-within:border-blue-500">
        <%= form.number_field :expected_week, placeholder: " " %>
        <%= form.label :expected_week %>
      </div>
      <div class="relative my-8 border-b-2 focus-within:border-blue-500">
        <%= form.number_field :expected_month, placeholder: " " %>
        <%= form.label :expected_month %>
      </div>
      <div class="field">
        <%= form.submit t('actions.submit') %>
      </div>
    <% end %>
  </div>
<% end %>
