<%= turbo_frame_tag :space do %>
  <%= render "spaces/header", space: @space %>

  <%= link_to t('suppliers.new'), new_space_supplier_path(space_id: @space.id), class: "text-center bg-gray-200 hover:bg-gray-300 text-dark font-semibold py-2 px-4 border-transparent rounded" %>
  <br><br>
  <%= render 'suppliers/search_and_filter', space: @space %>

  <% if @suppliers.count.zero? %>
    <p><%= t('alert.none', class_name: t('supplier', scope: 'activerecord.models').pluralize.downcase) %></p>
  <% else %>
    <%== render partial: 'shared/pagy/nav', locals: { pagy: @pagy } %>
    <%= render @suppliers, space: @space %>
    <%== render partial: 'shared/pagy/nav', locals: { pagy: @pagy } %>
  <% end %>
<% end %>
