<%= turbo_frame_tag :space do %>
  <%= render "spaces/tabs", space: @space %>

  <%= link_to t('suppliers.new'), new_space_supplier_path(space_id: @space.id), class: "text-center bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" %>
  <br><br>

  <% if @suppliers.count.zero? %>
    <p><%= t('alert.none', class_name: t('supplier', scope: 'activerecord.models').pluralize.downcase) %></p>
  <% else %>
    <%== render partial: 'shared/pagy/nav', locals: { pagy: @pagy } %>
    <%= render @suppliers, space: @space %>
    <%== render partial: 'shared/pagy/nav', locals: { pagy: @pagy } %>
  <% end %>
<% end %>
